*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.bg_login{
    background: #222d32;
}
.panel{
    margin-top: 150px;
}
[type=reset]{
    margin-right: 50px;
}
aside{
    width: 180px;
    height: 100%;
    background: #222d32;
    position: absolute;
}
aside .brand{
    width: 100%;
    height: 50px;
    background: #367fa9;
}
aside .brand a{
    color:white;
    line-height: 50px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 20px;
}
aside .user{
    padding: 20px;
}
aside .user img{
    width: 50px;
    border-radius: 25px;
}
aside .user span{
    color: white;
}
aside .menu ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #aaa;
    padding-left: 30px;
}
aside .menu ul li.now > a{
    border-left: 3px solid #3c8dbc;
    background: #1d1f21;
    color: #fff;
}
aside .menu ul li .child a{
    padding-left: 60px;
}
aside .menu ul li .child a.now{
    color: white;
}
.main{
    padding-left: 180px;
}
nav{
    height: 50px;
    background: #3c8dbc;
}
nav a{
    font-size: 20px;
    color: #fff;
    margin: 12px;
    float: left;
}
nav a:last-child{
    float: right;
}
.breadcrumb{
    margin-top: 20px;
}
.picTable{
    float: left;
    width: 45%;
    height: 400px;
}
.picTable:first-child{
    margin-right: 10%;
}
th,td{
    text-align: center;
}
.delete{
    margin-left: 12px;
}